/* 
* This css snippet is used to make the editor view match the reader view
* as best as possible
*/

/* default editor headers have no top padding and have padding afterwards  */
.HyperMD-header {
    padding-top: 0 !important;
    padding-bottom: var(--p-spacing) !important;
}  

/* headers in the editor directly after text should have top padding  */
div.cm-line + div.HyperMD-header {
    padding-top: var(--heading-spacing) !important;
}

/* handle block quotes this makes use of some js at
   .obsidian/plugins/customjs/quote-padding-calculator.js */
.HyperMD-quote {
    text-indent: 0 !important;
    tab-size: var(--indent-size) !important;
    padding-bottom: 0 !important;

    /* subtracts calculated width of .cm-transparent
       calculated in .obsidian/plugins/customjs/quote-padding-calculator.js */
    padding-inline-start: calc(var(--size-4-6) - var(--transparent-span-width, 0px)) !important;
}

/* handle empty lines */
div.cm-line:has(> br:only-child) {
    line-height: var(--p-spacing) !important;
}

/* used to remove the frames from shiki-highlighter plugin */
figcaption.header {
    display: none !important;
}

/* apply margin above code blocks */
.markdown-source-view.mod-cm6 .cm-content > div:is(.cm-preview-code-block, .cm-embed-block) + div.cm-line {
    margin-top: var(--p-spacing) !important;
}

/* apply margin below code blocks */
.markdown-source-view.mod-cm6 .cm-content > div.cm-line:has(+ div:is(.cm-preview-code-block, .cm-embed-block)) {
    margin-bottom: var(--p-spacing) !important;
}