/* 
* This css snippet is used to make the editor view match the reader view
* as best as possible
*/

:root {

    /* Exact 2.03px at 16px base */
    --header-compensation: 0.127rem;

    /* should be set to the value of the following (this is used in read mode):
    .markdown-rendered ul > li {margin-inline-start: 3ch;} */
    --list-indent-edit-mode: 3ch;

}

/* handle empty lines */
.markdown-source-view.mod-cm6 div.cm-line:has(> br:only-child) {
    line-height: calc(var(--p-spacing) + 0.01rem) !important;
}

/* make editor view wrap lines the same as read view */
.cm-lineWrapping {
    white-space: pre-wrap !important;
}

/* #region Headers */

/* remove padding from editor headers */
.markdown-source-view.mod-cm6 .HyperMD-header {
    padding-top: 0 !important;
}

/* headers in the editor directly after text, code and images should have top margin */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header, .HyperMD-quote),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded,                     
) + div.HyperMD-header {
    margin-top: calc(var(--heading-spacing) - var(--header-compensation)) !important;
}

/* handle headers after a quote block */
.markdown-source-view.mod-cm6  .HyperMD-quote + .HyperMD-header {
    margin-top: calc(16px - var(--header-compensation)) !important;
}

/* apply margin to bottom of the first header if there is nothing before it
   (the first child is actually <div contenteditable="false"></div>) */
.cm-content > div:nth-child(2).HyperMD-header {
    margin-bottom: calc(var(--p-spacing)) !important;
}

/* apply different margin to bottom of every other header that has a non-header element after it*/
.cm-content > div:not(:nth-child(2)).HyperMD-header:has(+ div.cm-line:not(.HyperMD-header)) {
    margin-bottom: calc(var(--p-spacing) - var(--header-compensation)) !important;
}

/* fix header letter spacing */
:is(.HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6) {
    letter-spacing: 0.015em !important;
}

/* adjust line-height for h1 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-1 {
    line-height: calc(var(--h1-line-height) + 0.125) !important;
}

/* adjust line-height for h2 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-2 {
    line-height: calc(var(--h2-line-height) + 0.175) !important;
}

/* adjust line-height for h3 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-3 {
    line-height: calc(var(--h3-line-height) + 0.225) !important;
}

/* adjust line-height for h4 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-4 {
    line-height: calc(var(--h4-line-height) + 0.275) !important;
}

/* adjust line-height for h5 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-5 {
    line-height: calc(var(--h5-line-height) + 0.275) !important;
}

/* adjust line-height for h6 after non-header */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded                      
) + .HyperMD-header-6 {
    line-height: calc(var(--h5-line-height) + 0.4) !important;
}

/* adjust header's bottom margin if directly followed by another header  */
.markdown-source-view.mod-cm6 .HyperMD-header:has(+ .HyperMD-header) {
    margin-bottom: calc(var(--p-spacing) - 0.005rem) !important;
}

/* adjust h1 bottom margin if it has another header after it (it's different to other headers) */
.markdown-source-view.mod-cm6 :not(.HyperMD-header) + .HyperMD-header-1:has(+ .HyperMD-header) {
    margin-bottom: calc(var(--p-spacing) - 0.13rem) !important;
}

/* account for the case where h1 has a h1 directly after */
.markdown-source-view.mod-cm6 :not(.HyperMD-header) + .HyperMD-header-1:has(+ .HyperMD-header-1) {
    margin-bottom: calc(var(--p-spacing) - 0.25rem) !important;
}

/* could not figure out how to account for something like h1 -> h1 -> h1 -> etc etc */

/* #endregion */

/* #region Code Blocks */

/* used to remove the frames from shiki-highlighter plugin */
figcaption.header {
    display: none !important;
}

/* apply bottom margin to text (that isn't empty) above code blocks */
.markdown-source-view.mod-cm6 .cm-content > div.cm-line:has(+ div:is(.cm-preview-code-block, .cm-embed-block)):not(:has(> br:only-child)) {
    margin-bottom: var(--p-spacing) !important;
}

/* apply tp margin to text (that isn't empty) below code blocks */
.markdown-source-view.mod-cm6 .cm-content > div:is(.cm-preview-code-block, .cm-embed-block) + div.cm-line:not(.HyperMD-header):not(:has(> br:only-child)) {
    margin-top: var(--p-spacing) !important;
}

/* make code in headers looks the same as in reader mode */
.HyperMD-header > span.cm-inline-code {
    font-size: var(--code-size) !important;
}

/* #endregion */

/* #region Quotes */

/* The blockquotes actually don't pad nicely on read so it's changed here */
blockquote {
    padding-right: 0.6rem !important;
}

/* handle block quotes. This makes use of some js at
   .obsidian/plugins/customjs/quote-padding-calculator.js */
.HyperMD-quote span.cm-quote:not(.cm-formatting-quote) {
    display: inline-block !important;
    padding-right: 0.8rem !important;

    /* subtracts calculated width of .cm-transparent
       calculated in .obsidian/plugins/customjs/quote-padding-calculator.js */
    transform: translateX(calc(var(--size-4-6) - var(--transparent-span-width, 0px)));
}

/* handle empty lines directly after a quote */
.markdown-source-view.mod-cm6  .HyperMD-quote + div.cm-line:has(> br:only-child) {
    line-height: var(--p-spacing) !important;
}

/* #endregion */

/* #region Lists */

/* lists in the editor directly after text, code and images should have top margin */
.markdown-source-view.mod-cm6 
div:is(
    .cm-line:not(.HyperMD-header, .HyperMD-quote, .HyperMD-list-line),  
    .cm-preview-code-block,         
    .cm-embed-block,                
    .internal-embed,                
    .media-embed,                   
    .image-embed,                   
    .is-loaded,                     
) + .HyperMD-list-line {
    margin-top: calc(var(--p-spacing)) !important;
}

/* indent the lists to match read mode */
.markdown-source-view.mod-cm6 .HyperMD-list-line {
    transform: translateX(calc(var(--list-indent-edit-mode) - 25px));
}

/* modify list elements without bullets (e.g. after hitting shift+enter */
.markdown-source-view.mod-cm6 .HyperMD-list-line.HyperMD-list-line-nobullet {
    padding-bottom: 1.6px !important;
}

/* modify list elements with bullets */
.markdown-source-view.mod-cm6 .HyperMD-list-line:not(.HyperMD-list-line-nobullet) {
    padding-bottom: 0px !important;
}


/* account for the bullet */
.cm-formatting.cm-formatting-list .list-bullet {
    transform: translateX(-0.23rem);
    padding-right: 1px;
}


/* #endregion */